.now-hiring {
  padding: 4.8rem 0 3.2rem 0;
  background-color: rgb(219, 211, 217);;
}

.box {
  content: normal;
  flex-wrap: wrap;
  border: 3px solid black;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 1000px; /* Adjust the width as needed */
  margin: auto; /* Center the box horizontally */

}

.hiring-tbs {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.workfor {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn--fullmargin-right-sm {
  background-color: #e67e22;
    color: #fff;
}

.hiring-img{
  position: relative;
  left:900px;
  bottom: 238px;
  height:150px;
}

.workingmen {
  left: 20px;
  bottom: 250px;
  height:400px;
}

/**************************/
/* APPLY NOW PAGE */
/**************************/



  /* Adjust styles for screens narrower than 600px (adjust the value as needed) */
  .name {
    margin-bottom: 50px;
    padding: 0;
    font-size: 50px;
    font-style: inherit;
  }
  .apply-set {
    padding-top: 10px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
  }

  .container {
    max-width: 100%; /* Ensure container takes full width */
    padding: 0 20px; /* Add padding as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .job-app-box {
   text-align: center;
    font-size: 50px;
   
  }
  
  .job-fill {
    font-style:normal;
    text-align: center;
    text-emphasis: none;
    margin: 0px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    padding-bottom: 50px;
  }
  .first-name-input{
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px; /* Add margin to create space between Name and Email sections */
  }
  
  .last-name-input{
    padding: 10px;
      font-size: 20px;
      margin-bottom: 20px;
  }
  .page-section {
    padding-bottom: 3.5rem;
  }
  .form-container {
    padding-top: 3.5rem;
    max-width: 960px;
    padding-bottom: 3.5rem;
  }
  .apply-container {
    background-color: #f7d7bc;
  }
  .apply-now {

    margin: 0 auto;
    font-size: 100px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold";
  }
  
  .descript {

    margin: 50px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    
  }
  @media screen and (max-width: 768px) {
    .apply-set {
      padding-top: 5px;
    }
  
    .job-app-box {
      font-size: 40px;
    }
  
    .job-fill {
      font-size: 18px;
    }
  
    .apply-now {
      font-size: 80px;
    }
  
    .descript {
      margin: 30px;
      font-size: 18px;
    }
  }
  .first-label {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
  }
  
  .first-label-name {
    font-family: "Moveo Sans w00 Regular";
      font-style: normal;
      margin: 0;
  
      font-size: 20px;
  }
  
  .last-label-name {
    font-family: "Moveo Sans w00 Regular";
      font-style: normal;
      margin: 0;
      padding-left: 10px;
      font-size: 20px;
  }
  
  .last-name {
    font-family: "Moveo Sans w00 Regular";
      font-style: normal;
      margin: 0;
      padding-left: 10px;
      font-size: 20px;
  }
  
  .first-input {
    margin: 10px;
    display: flex;
  }
  .name-input {
    font-family: "Moveo Sans w00 Regular";
      margin: 50px;
      margin-right: 0;
      position: relative;
      padding-left: 15px;
      display: flex;
  }
  
  .emailphone-input {
    margin: 10px;
      display: flex;
  }
  
  .resume-label {
    margin-bottom: 50px;
    padding: 0;
    font-size: 50px;
    font-style: inherit;
  }
  
  .emailphone-label {
    margin-bottom: 50px;
    padding: 0;
    font-size: 50px;
    font-style: inherit;
  }
  
  .email-phone-input {
    font-family: "Moveo Sans w00 Regular";
    margin: 50px;
    margin-right: 0;
    position: relative;
    padding: 0px;
    display: flex;
  }
  
  .email-name {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
  }
  
  .email-input {
    font-family: "Moveo Sans w00 Regular";
    margin: 50px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
  }
  
  
  .resume-input {
    margin: 10px;
    display: flex;
  }
  
  .email-box {
    padding: 10px;
      font-size: 20px;
      margin-bottom: 20px;
  }
  
  .phone-box {
    padding: 10px;
      font-size: 20px;
      margin-bottom: 20px;
  }
  
  .phone {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
  }
  
  .phone-input {
    font-family: "Moveo Sans w00 Regular";
      margin: 50px;
      margin-right: 0;
      position: relative;
      padding-left: 15px;
      display: flex;
  }
  
  .resume-note {
    font-style: normal;
    text-align: center;
    text-emphasis: none;
    margin: 0px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    padding-top: 30px;
  }
  
  .resume-name {
    font-family: "Moveo Sans w00 Regular";
      font-style: normal;
      margin: 0;
      padding-left: 10px;
      font-size: 20px;
  }
  
  .resume-box {
    font-family: "Moveo Sans w00 Regular";
      font-style: normal;
      margin: 0;
      padding-left: 10px;
      font-size: 20px;
  }
  
  .file-input-container {
    display: flex;
    align-items: center;
  }
  
  .file-label {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .fileInput {
  
      font-size: 20px;
      margin-bottom: 20px;/* Add any styling for the file input button */
  }
  
  .cover-name {
    font-family: "Moveo Sans w00 Regular";
      font-style: normal;
      margin: 0;
      padding-left: 10px;
      font-size: 20px;
  }
  
  .message-label {
    margin-bottom: 50px;
    padding: 0;
    font-size: 50px;
    font-style: inherit;
  }
  
  .message-note {
    font-style: normal;
    text-align: center;
    text-emphasis: none;
    margin: 0px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    padding-top: 30px;
  }
  
  .message-text {
    font-style: normal;
  
    text-align: left;
    text-emphasis: none;
    margin-left: 40px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    width: 850px;
    height: 300px;
  }
  
  .submit-app {
    background-color: #e67e22;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 350px;
    color: #fff;
    align-self: auto;
  }
  
.submission-thank {
  color: #51cf66;
}

.footer {
  background-color: #f7d7bc;
}

.submission-message {
  color:#51cf66;
  font-family: "Moveo Sans W00 Regular";
  font-size:large;
  font-style: bold;
  text-align: center;
  margin-bottom: 30px;
}

.submission-error-message {
  color:#ff0000;
  font-family: "Moveo Sans W00 Regular";
  font-size:large;
  font-style: bold;
  text-align: center;
  margin-bottom: 30px;
}